<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/flight.css">

    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <%- include('../includes/searchBar.ejs') %>

                <main>
                    <% if (flights.length> 0) { %>
                        <div class="grid">
                            <% for (let flight of flights) { %>
                                <article class="card flight-item">
                                    <header class="card__header">
                                        <h1 class="flight__title">
                                            <%= flight.destination %>
                                        </h1>
                                    </header>
                                    <div class="card__image">
                                        <img src="<%= flight.imagePath %>" alt="<%= flight.destination %>">

                                    </div>
                                    <div class="card__content">
                                        <p class="flight__description">
                                            <strong>From:</strong>
                                            <%= flight.origin %></br>
                                                <strong>To:</strong>
                                                <%= flight.destination %></br>
                                                    <strong>Date:</strong>
                                                    <%= flight.date.toDateString() %></br>
                                                        <strong>Take Off:</strong>
                                                        <%= flight.takeOffTime %></br>
                                                            <strong> Landing:</strong>
                                                            <%= flight.landing %></br>
                                                                <strong>Available seats:</strong>
                                                                <%= flight.numOfSeats %></br>

                                        </p>

                                        <h2 class="flight__price">Price: $
                                            <%= flight.price %>
                                        </h2>
                                    </div>
                                    <div class="card__actions">
                                        <a href="/admin/edit-flight/<%= flight._id %>?edit=true" class="btn"
                                            style="background-color:gray"> Edit</a>
                                        <div style="margin: 1rem;">
                                            <form action="/admin/delete-flight" method="POST">
                                                <input type="hidden" value="<%= flight._id %>" name="flightId">
                                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                                <button class="btn" style="background-color: rgb(132, 41, 41);"
                                                    type="submit">Delete</button>
                                            </form>
                                        </div>
                                    </div>
                                </article>
                                <% } %>
                        </div>
                        <% } else { %>
                            <h1>No flights Found!</h1>
                            <% } %>
                </main>
                <%- include('../includes/end.ejs') %>