<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <% if (flights.length> 0) { %>
                <ul class="cart__item-list">
                    <% flights.forEach(f=> { %>
                        <input type="hidden" id="maxSeats" value="<%= f.flightId.numOfSeats %>">
                        <input type="hidden" id="desiredSeats" value="<%= f.quantity %>">

                        <li class="cart__item">
                            <h2>
                                Flight to
                                <%= f.flightId.destination %>
                                    from <%= f.flightId.origin %> :
                            </h2>
                            <h2>Quantity: <%= f.quantity %> of <%= f.flightId.numOfSeats %> available
                            </h2>
                            <form action="/cart" method="POST">

                                <div class="quantity buttons_added card__actions">

                                    <input type="button" value="-" class="minus">
                                    <input type="number" step="1" min="1" name="quantity"
                                        max="<%= f.flightId.numOfSeats%>" id="quantity" value="1" title="Qty"
                                        class="input-text qty text" size="4">
                                    <input type="button" value="+" class="plus">

                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <input type="hidden" name="flightId" value="<%= f.flightId._id %>">

                                    <button class="btn-update" type="submit">Update</button>

                                </div>
                            </form>
                            <form action="/cart-delete-item" method="POST">
                                <input type="hidden" value="<%= f.flightId._id %>" name="flightId">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <button class="btn-danger" type="submit">Delete</button>
                            </form>
                        </li>
                        <% }) %>
                </ul>
                <div class="centered">
                    <input type="hidden" id="total" value='<%= totalSum %>'>
                    <h2>Total: $<%= totalSum %>
                    </h2>
                    <br>
                </div>

                <div class="centered"></div>
                <button class="btn-update" id="order-btn" style="width: 46.5%; margin-left: 26.6rem;">Order</button>
                <script src="https://js.stripe.com/v3/"></script>
                <script>
                    var stripe = Stripe('pk_test_51MLAFBA4k72Skn4PUpfL3OZDFJjGcdUNI59xXrPiMmTbbYvUsDpZxaQj3KZmiPBXHdHwTp8sOHTt1G09UJZ8IQI900mHyxwudg');
                    var orderBtn = document.getElementById('order-btn');
                    orderBtn.addEventListener('click', function () {
                        stripe.redirectToCheckout({
                            sessionId: '<%= sessionId %>'
                        });
                    });
                </script>
                </div>

                <div class="centered" id="paypal-button"></div>

                <script
                    src="https://www.paypal.com/sdk/js?client-id=Af866sGqvCYo08HegPWAHPpR2owJE8QbXwjnRA4u4cmqyb8qBQcsga6UoWnAdX56eRK0H4UO-0r5pTqY"></script>

                <script>

                    paypal.Buttons({
                        createOrder: function (data, actions) {
                            // Set up the transaction
                            return actions.order.create({
                                purchase_units: [{
                                    amount: {
                                        value: document.getElementById('total').value
                                    }
                                }]
                            });
                        },
                        onApprove: function (data, actions) {
                            window.location.href = "/checkout/success";
                        },

                        onCancel: function (data) {
                            window.location.href = "/checkout/cancel";
                        },
                        onError: function (err) {

                            window.location.href = "/404";
                        }
                    }).render('#paypal-button');

                </script>

                <% } else { %>
                    <h2>No flights in Cart!</h2>
                    <% } %>


                        <%- include('../includes/end.ejs') %>