<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>
                <% if (flights.length> 0) { %>
                    <ul class="cart__item-list">
                        <% flights.forEach(f=> { %>
                            <li class="cart__item">
                                <h2>
                                    flight to
                                    <%= f.flightId.destination %>
                                        from <%= f.flightId.origin %> :
                                </h2>
                                <h2>Quantity: <%= f.quantity %>
                                </h2>
                                <form action="/cart" method="POST">

                                    <div class="quantity buttons_added card__actions">

                                        <input type="button" value="-" class="minus">
                                        <input type="number" step="1" min="1" name="quantity"
                                            max="<%= f.flightId.numOfSeats%>" id="quantity" value="1" title="Qty"
                                            class="input-text qty text" size="4">
                                        <input type="button" value="+" class="plus">

                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                        <input type="hidden" name="flightId" value="<%= f.flightId._id %>">

                                        <button class="btn-update" type="submit">Update</button>

                                    </div>
                                </form>
                                <form action="/cart-delete-item" method="POST">
                                    <input type="hidden" value="<%= f.flightId._id %>" name="flightId">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <button class="btn-danger" type="submit">Delete</button>
                                </form>
                            </li>
                            <% }) %>
                    </ul>
                    <hr>
                    <div class="centered">
                        <a class="btn" href="/checkout">checkout</a>
                    </div>

                    <% } else { %>
                        <h1>No flights in Cart!</h1>
                        <% } %>
            </main>
            <%- include('../includes/end.ejs') %>