<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/flight.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <%- include('../includes/searchBar.ejs') %>

                <main>
                    <br>
                    <h1>Popular destinations</h1>

                    <% if (flights.length> 0) { %>
                        <div class="grid">
                            <% for (let flight of flights) { %>
                                <article class="card flight-item">
                                    <header class="card__header">
                                        <h2 class="flight__title">
                                            <%= flight.destination %>
                                        </h2>
                                    </header>
                                    <div class="card__image">
                                        <img src="<%= flight.imagePath %>" alt="<%= flight.destination %>">

                                    </div>
                                    <div class="card__content">
                                        <p class="flight__description">
                                            <strong>From:</strong>
                                            <%= flight.origin %> <br>
                                                <strong>To:</strong>
                                                <%= flight.destination %></br>
                                                    <strong>Date:</strong>
                                                    <%= flight.date.toDateString() %></br>
                                                        <strong>Take Off:</strong>
                                                        <%= flight.takeOffTime %></br>
                                                            <strong>Landing:</strong>
                                                            <%= flight.landing %></br>
                                                                <strong>Available seats:</strong>
                                                                <%= flight.numOfSeats %></br>

                                        </p>

                                        <p class="flight__price"><strong>Price:</strong> $
                                            <%= flight.price %>
                                        </p>
                                    </div>
                                    <div class="card__actions">
                                        <a href="/flights/<%= flight._id %>" class="btn"
                                            style="background-color:#749ea8;">Details</a>
                                        <%- include('../includes/add-to-cart.ejs', {flight: flight}) %>
                                    </div>

                                </article>
                                <% } %>
                        </div>
                        <% } else { %>
                            <h1>No flights Found!</h1>
                            <% } %>
                </main>
                <%- include('../includes/end.ejs') %>