<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/orders.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <% if (orders.length <=0) { %>
                <h2>Nothing there!</h2>
                <% } else { %>
                    <ul class="orders">
                        <% orders.forEach(order=> { %>
                            <li class="orders__item">
                                <p>Order - # <%= order._id %> - <a href="/orders/<%= order._id %>">Invoice</a></p>
                                <ul class="orders__flights">
                                    <% order.flights.forEach(f=> { %>
                                        <li class="orders__flights-item">
                                            Flight from <%= f.flight.destination %> to <%= f.flight.origin %>
                                                    &emsp; &emsp;
                                                    Quantity -> <%= f.quantity %>.
                                        </li>
                                        <% }); %>
                                </ul>
                            </li>
                            <% }); %>
                    </ul>
                    <% } %>

                        <%- include('../includes/end.ejs') %>